body{
    margin: 0;
}

header{
    border-bottom: 7px solid;
}
.head{
    display: flex;
    align-item: center;
    justify-content: space-between;
}
h1{
    font-family: Blippo, fantasy;
    font-weight: bolder;
    font-size: 350%;
}
.log{
    
}

footer{
    border-top: 7px solid;
}

section{
    background-image: url("../img/backgroundcraft.jpg");
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
}
article{
    background-color: rgba(255,255,255,0.8);
    border: solid;
}